/* DashboardPage.css */

/* Main container for the dashboard, centered vertically and horizontally */


.dashboard-container {
        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 60px; /* Add padding to avoid cutting off at the top */
        background-color: #e6f7f9;
        padding-bottom: 60px; 
    }


/* Card styling (for individual widgets) */
.card {
    width: 40%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 50px;
    text-align: left;
    margin: 50px;
    box-shadow: 10px 10px 20px 20px  rgba(0, 0, 0, 0.1);

}



