/* src/components/dashboard */

.container {
    background-color: #e6f7f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    margin-top: 50px;
    padding: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.5rem;
    color: #4ab9b9;
    margin-bottom: 10px;
    font-weight: bold;
}

.card-content {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
}
